.categories {
    background-color: #192133;
    width: 220px;
    position: fixed;
    height: 80vh;
    top: 40px;
    background-color: #111111;
}

.categories h2 {
    color: white;
    margin: 0 20px 15px;
}

.categories li {
    list-style: none;
    margin: 10px 0px;
    padding: 20px 0;
}

.categories li:hover {
    background-color: rgb(119, 138, 138);
    cursor: pointer;
}

.categories a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}